.sort-actions {
    margin-bottom: 1rem;
}

.licorne {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.licorne + .licorne {
    margin-top: 1rem;
}

button.active {
    border-color: var(--accent);
    background-color: var(--accent);
    color: white;
    cursor: default;
}
