main {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

main > .menu {
    width: 30%;
    max-width: 370px;
}

main > .content {
    flex-grow: 1;
    padding: 3rem;
    overflow: auto;
}
