.description-limit {
    font-style: italic;
    color: grey;
    font-size: 0.8rem;
}

.errors {
    color: red;
    font-size: 0.8rem;
}


.form-element {
    margin-bottom: 1rem;
}

.form-element label {
    display: inline-block;
    width: 30%;
    padding: 6px 0;
    font-weight: bold;
    vertical-align: top;
}

.form-element .form-control {
    display: inline-block;
    width: 70%;
}

.form-control input,
.form-control textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-actions {
    margin-left: 30%;
    width: 70%;
}
