header {
    background-color: #4B89BF;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
}

header h1 {
    padding-left: .5rem;
    margin: 0;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    color: #D8E8F2;
    text-decoration: underline;
}

nav {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav a {
    display: inline-block;
    margin-top: 1rem;
}

nav a.active {
    font-weight: bold;
    text-decoration: underline;
}

.icons8 {
    font-size: 0.9rem;
    margin-left: auto;
    font-style: italic;
    opacity: 0.9;
}
.icons8 a {
    color: white;
    text-decoration: underline;
}
