header {
    background-color: #4b89bf;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header h1 {
    padding-left: 0.5rem;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    color: #d8e8f2;
    text-decoration: underline;
}

header h1 {
    margin: 0;
}

nav a {
    margin-left: 1rem;
}

.icons8 {
    font-size: 0.9rem;
    margin-left: auto;
    font-style: italic;
    opacity: 0.9;
}
.icons8 a {
    color: white;
    text-decoration: underline;
}
