/* You can add global styles to this file, and also import other style files */
html {
    --primary: #4b89bf;
    --secondary: #94c6f2;
    --secondary-light: #d8e8f2;
    --text-color: #0d0d0d;
}

@font-face {
    font-family: 'JellyParty';
    src: url('../public/fonts/JellyParty.ttf') format('truetype');
}

html,
body {
    margin: 0;
    padding: 0;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'JellyParty', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--primary);
    margin-top: 0;
}

.p-1 {
    padding: 1rem;
}
.p-2 {
    padding: 2rem;
}
.p-3 {
    padding: 3rem;
}

.flex {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.border {
    border: 1px solid var(--secondary-light);
    border-radius: 8px;
}

button {
    padding: 0.35rem 0.7rem;
    color: var(--primary);
    background-color: var(--secondary-light);
    border: 1px solid var(--primary);
    border-radius: 0.25rem;
}
button + button {
    margin-left: 0.5rem;
}

button:disabled {
    opacity: 0.6;
}
button:disabled:hover {
    cursor: not-allowed;
}

button:hover {
    transition: ease-in-out 0.2s;
    background-color: var(--secondary);
    cursor: pointer;
    color: white;
}
